.headerOption {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    cursor: pointer;
    color: gray;
}

.headerOption-title {
    font-size: 16px;
    font-weight: 400;
}

/* .headerOption-icon {
    object-fit: contain;
} */

.headerOption:hover {
    color: black;
}